body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#content {

  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.topnav {
    display: flex;
    align-items: center;
    background-color: #ffddf8;
    overflow: hidden;
  }
  .topnav a {
    float: left;
    color: #ff008c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ffffff;
    color: black;
  }
  .topnav a.active {
    background-color: #e988ec;
    color: white;
  }

  #title {
    font-size: 30px;
    flex: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(224, 36, 196);
  }
  .circular--square { border-radius: 50%; }
  .circular--square { border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%; }

  .image {
    width: 100px;
  }
.button {
  color: rgb(225, 43, 189);
  font-weight: bold;
  background-color: rgb(247, 196, 230);
  border-color: transparent;
  border-radius: 25px;
  width: fit-content;
}

.button:hover {
  background-color: white;
  color: black;
}
.fontz{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Bunny{
 display: flex;
 flex-direction: column;
 align-items: center;
}